.test {
    text-align: center;
    padding: 20px;
  }
  
  .question h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .question button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .question button:hover {
    background-color: #0056b3;
  }
  

  .progress-container {
    margin: 20px 0;
    position: relative;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
  }
  
  .progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
  }